/*add google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@800&family=Work+Sans:wght@700;800&display=swap')

*{ 
    margin: auto;
    padding:0px ;
   
}
body{
    margin:0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*nav css style start*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #454577;
}
nav  >img{
    height: 40px;
    width: 50px;
    padding-left: 10px;
}
nav>ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 80px;
}
nav li a{
    color: black;
    text-decoration: none;
}
 nav>button{
    height: 35px;
    width: 80px;
    margin-right: 20px;
    border-radius: 9px;
    background-color: rgba(56, 114, 148, 0.701);
    border: none;
    cursor: pointer;
     }
     nav>button>a{
        color: black;
        text-decoration: none;
        padding: 6px;
     }
     nav>button>a, .section1-btn>button>a:hover{
        color: beige;
     }
     /*nav css style end*/
     .section1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-image: url("education img/background.jpg") ;
        height: 100vh;
       background-repeat: no-repeat;
       background-position: cover;
       background-position: center;
       background-size: cover;
       width: auto;
        
     }
     .section1-tittle{
        font-size:3rem;
        font-weight: 800;
        color: rgba(39, 188, 174, 0.666);
     }
     .section1-text{
        font-size: 1.1rem;
        font-weight: 400;
        color: black;
        
     }
     .section1-btn>button{
        height: 40px;
        width: 90px;
        background-color: rgba(27, 43, 78, 0.94);
        border: none;
        border-radius: 9px;

        
     }
     .section1-btn>button>a{
        text-decoration: none;
        color: black;

     }
     .section1-img{
        height: 380px;
        
     }
      /*responsive css style for mobile*/
@media screen and (max-width:576px){
    /*responsive nav css style start*/
    nav{
        width: 100% auto;
        flex-direction: column;
    }
    nav>ul{
        gap: 10px;
        text-align: center;
    }
    
    nav>button{
        margin-bottom: 5px;
        padding-left: 5px;
        padding: 2px;
    }
      /*responsive nav css style end*/
}
/*responsive css style for tablet , pc , laptop & */
@media screen and (min-width: 576px) and (min-width: 960px) {
     /*responsive nav css style start*/
    nav{
        width: auto;
    }
     /*responsive nav css style end*/
    
}