/*add share style start*/
/*add google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@800&family=Work+Sans:wght@700;800&display=swap')

*{ 
    margin: auto;
    padding:0px ;
   
}
body{
    margin:0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
 
 /*add share style end*/
/*nav css style start*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #454577;
}
nav  >img{
    height: 40px;
    width: 50px;
    padding-left: 10px;
}
nav>ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 80px;
}
nav li a{
    color: black;
    text-decoration: none;
}
 nav>button{
    height: 35px;
    width: 80px;
    margin-right: 20px;
    border-radius: 9px;
    background-color: rgba(56, 114, 148, 0.701);
    border: none;
    cursor: pointer;
     }
     nav>button>a{
        color: black;
        text-decoration: none;
        padding: 6px;
     }
     nav>button>a:hover{
        color: beige;
     }
     
     /*nav css style end*/
     /*section 1 css style start*/
     .section1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-image: url("education img/background.jpg") ;
        height: 100vh;
       background-repeat: no-repeat;
       background-position: center;
     
       background-size: cover;
     
        
     }
     .section1-tittle{
        font-size:3rem;
        font-weight: 800;
        color: rgba(39, 188, 174, 0.666);
     }
     .section1-text{
        font-size: 1.1rem;
        font-weight: 400;
        color: black;
        
     }
     .section1-btn>button{
        height: 40px;
        width: 90px;
        background-color: rgba(27, 43, 78, 0.94);
        border: none;
        border-radius: 9px;

        
     }
     .section1-btn>button>a{
        text-decoration: none;
        color: black;

     }
     .section1-btn>button>a:hover{
        color: beige;
     }
     .section1-img{
        height: 380px;
        
     }
     /*section 1 css style end*/
     /*section 2 css style start*/
     .section2{
      display: flex;
      gap: 20px;
      padding: 10px;
      width:  80%;
      margin: auto;

     }
     .section2-container{
      border: 3px solid rgb(233, 219, 219);
      border-radius: 16px;
      width: 460px;
      height: 260px;
      box-shadow: 3px 3px 3px 3px rgba(50, 89, 156, 0.47);

      

      background-color: rgba(6, 16, 60, 0.871);
      text-align: center;
      position: relative;
      bottom: 80px;
     
      
     }
     .section2-text1{
      margin-top: 70px;
      color:white;
      font-weight: 700;
      font-size: 1.5rem;
     }
     .section2-container>hr{
      width: 30%;
     }
     .section2-text2{
      font-weight: 500;
      font-size: 15px;
      color: white;
      margin-top: 14px;

     }
     .section2-container2{
      border: 3px solid  rgba(119, 121, 132, 0.705);
      border-radius: 10px;
     background-color:transparent;
      
     }
     .section2-in{
    height: 30px;
    outline: 0px;
      border: none;
      background-color: transparent;


      
     
      
     }
     .section2-btn{
      height: 34px;
      width: 60px;
      background-color:transparent;
      border: none;
      outline: none;

     }
     .section2-text3{
    font-size: 25px;
    font-weight: 400;
    width: 80%;
    margin: auto;
    margin-left: 30px;

     }
     .section2-text3-text{
      color: tomato;
     }
     /*section 2 css style end*/
      /*section 3 css style start*/

     .section3{
       display: flex;
       padding: 10px;
       gap: 50px;
       width: 70%;
       margin: auto;
     }
     .section3-img{
      height: 350px;
      width: 450px;
     }
     .section3-text1{
      width: 50%;
      font-weight: 800;
      font-size: 20px;
     }
    .section3-text2{
      width: 90%;
      font-weight: 300;
      font-size: 16px;
    }
    .section3-btn{
      height: 40px;
      width:90px;
      border-radius: 9px;
      background-color: rgba(27, 43, 78, 0.819);
      border: none;
      color: black;
      cursor: pointer;
    }
    .section3-btn:hover{
      color: wheat;
    }
     /*section 3 css style end*/

   
      
     

      /*responsive css style for mobile*/
@media screen and (max-width:576px){
    /*responsive nav css style start*/
    nav{
        width: 105%;
        flex-direction: column;
    }
    nav>ul{
        gap: 10px;
        text-align: center;
    }
    
    nav>button{
        margin-bottom: 5px;
        padding-left: 5px;
        padding: 2px;
    }
      /*responsive nav css style end*/
       /*responsive section 1 css style start*/
      .section1{
        width:100%;
        height: 60%;
       background-repeat: no-repeat;

        background-position: center;
        background-size: cover;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
      }  
      .section1-tittle{
        font-size: 1.6rem;
        padding-left:79px ;
        padding: 10px;
      }
      .section1-text{
        padding-left: 40px;
      }
      .section1-btn>button{
        margin-left: 150px;
        height: 50px;
        width: 90px;
      }
      .section1-img{
        height: 250px;
       
        
      }
       /*responsive section 1 css style end*/
       /*responsive section 2 css style start*/
       .section2{
        flex-direction: column;
        width: 100% ;      
        gap: 5px;
        
       }
       .section2-container{
   width: 100%;
   height:60% ;
   margin-top: 60px;
   padding: 5px;
   align-items: center;
   justify-content: center;
   
       }
       .section2-text3{
       font-weight: 300;
       font-size:20px ;
       
       }
       /*responsive section 2 css style end*/
        /*responsive section 3 css style start*/
       .section3{
        flex-direction: column;
        width: 100%;
        gap: 10px;
       }
       .section3-img{
         width: 100%;
         height: 60%;
       }
       .section3-text1{
        font-size: 35px;
        width:90%;
        margin-left: 25px;
        font-weight: 700;
       }
       .section3-text2{
           font-size: 20px;
         width: 100%;
        margin-left: 10px;
       }
       .section3-btn{
        margin-left: 100px;
       }
       /*responsive section 3 css style end*/

}
/*responsive css style for tablet , pc , laptop & */
@media screen and (min-width: 576px) and (max-width: 960px) {
     /*responsive nav css style start*/
    nav{
        width: 100%;
    }
     /*responsive nav css style end*/
      /*responsive section 1 css style start*/
     .section1{
      width: 100%;
      height: 40%;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
    
      background-size: cover;
     } 
     .section1-tittle{
      font-size: 1.6rem;
      margin-top: 80px;
      padding-left: 268px;

     
    }
    .section1-text{
      width: 50%;
      padding-left: 230px;
    }
    .section1-img{
      height: 170px;
      margin-bottom: 20px;
      margin-right: 40px;
      
      
    }
    .section1-btn>button{
      margin-left: 350px;
    }
     /*responsive section 1 css style end*/

     /*responsive section 2 css style start*/
     
   .section2{
    width: 100%;

   }
    .section2-container{
      margin-top: 15px;
    }
   .section2-text3{
    font-size: 19px;
   font-weight: 400;
   width: 60%;
   margin: auto;
   }
   /*responsive section 2 css style end*/
     /*responsive section 3 css style start*/
   .section3{
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
   }
   .section3-img{
    width: 100%;
    height: 60%;
   }
   .section3-text1{
    width: 100%;
    font-weight: 800;
    font-size: 22px;
   }
   .section3-text2{
    width: 97%;
    height: 80%;
    font-size: 16px;
    font-weight: 400;

   }
   .section3-btn{
    margin-left: 400px;
   }
     /*responsive section 3 css style end*/

}